﻿@model ShopCartViewModel

@foreach (var el in Model.shopCart.listShopItems)
{
    <div class="alert alert-warning mt-3">
         @el.desert.name <br />
         @el.desert.price.ToString("c")
    </div>
}
<hr />
<a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Оплатить</a>