﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vojon - HTML5 Responsive Restaurant Template</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="icon" href="images/favicon.png" sizes="57x57">
    <link rel="icon" href="images/favicon.png" sizes="72x72">
    <link rel="icon" href="images/favicon.png" sizes="114x114">
    <link rel="icon" href="images/favicon.png" sizes="144x144">
    <link rel="stylesheet" href="~/css/style.css">
    <link href="#" rel="stylesheet" media="screen" class="skin">

</head>
<body>
    <div class="wrapper">
        <nav class="navigation-section navbar navbar-default bootsnav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">vojon</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right" id="top-menu">
                        <li><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-controller="Deserts" asp-action="List" asp-route-category="Торты">Торты</a></li>
                        <li><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-controller="Deserts" asp-action="List" asp-route-category="Выпечка">Выпечка </a></li>
                        <li><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" asp-controller="Deserts" asp-action="List" asp-route-category="Пирожные">Пирожные</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="section blog-title-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-contnet">
                            <h2>Delicious desserts</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section blog-container blog-post" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 sidebar">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widget">
                                    <div class="search">
                                        <div class="input-group">
                                            <form class="d-flex" method="get" asp-controller="Home" asp-action="Index">
                                                <input value="@ViewData["Getemployeedetails"]" name="Empsearch" class="form-control me-2" type="search" placeholder="Search for ..." aria-label="Search">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget">
                                    <h3 class="headline">КАТЕГОРИИ</h3>
                                    <ul>
                                        <li><a href="https://www.russianfood.com/recipes/bytype/?fid=67" target="_blank"><b>ПУДИНГИ</b>          <span>01</span></a></li>
                                        <li><a href="http://www.busheer.ru/stati/chto-takoe-tort/" target="_blank"><b>ТОРТЫ</b>       <span>02</span></a></li>
                                        <li><a href="https://www.ababilova.com/pechene-eto-ili-istoriya-o-tom-chem-pechen" target="_blank"><b>ПЕЧЕНЬЕ</b>           <span>03</span></a></li>
                                        <li><a href="https://dessertacia.ru/company/articles/1079/" target="_blank"><b>ЧИЗКЕЙК</b>        <span>04</span></a></li>
                                        <li><a href="https://bestsurprise.ru/merengi-i-beze-v-chem-raznica/" target="_blank"><b>МЕРЕНГА</b>        <span>05</span></a></li>
                                        <li><a href="https://volshebnaya-eda.ru/kollekcia-receptov/blanmanzhe/" target="_blank"><b>БЛАНМАНЖЕ</b>           <span>06</span></a></li>
                                        <li><a href="https://art-lunch.ru/recipe/brauni_foto/" target="_blank"><b>БРАУНИ</b>         <span>07</span></a></li>
                                        <li><a href="https://imungu.livejournal.com/43367.html" target="_blank"><b>ВАГАСИ</b>          <span>08</span></a></li>
                                        <li><a href="http://findfood.ru/termin/jokan" target="_blank"><b>ЕКАН</b>   <span>08</span></a></li>
                                        <li><a href="https://www.edimdoma.ru/retsepty/95996-kanele" target="_blank"><b>КАНЕЛЕ</b><span>09</span></a></li>
                                        <li><a href="https://www.gastronom.ru/text/klafuti-s-vishnej-1004438" target="_blank"><b>КЛАФУТИ</b>           <span>10</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 social-item">
                        <div class="top-btn">
                            <a class="top-button " href="#" id="easy-top">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="footer-social-box">
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/?lang=ru" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.google.ru/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="https://www.instagram.com/?hl=ru" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 copyright">
                        <p>Made with <i class="fa fa-heart"></i> by <a href="https://revolthemes.net/" target="_blank">Revolthemes</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/placeholdem.min.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/bootsnav.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>