﻿<h1>@Model.currCategory</h1>
@*<h3>@ViewBag.Category</h3>*@
<div class="row mt-5 mb-2">
    @{
        foreach (Desert desert in Model.allDeserts)
        {
            @Html.Partial("AllDeserts", desert)
        }
    }

</div>