﻿@model Order

<div class="row1">
    <h3>Оформление заказа</h3>
    <form asp-action="Checkout" method="post" class="form-check-inline">
        <div class="form-check">
            <label class="btntext" asp-for="name"></label>
            <div class="col111">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check">
            <label class="btntext" asp-for="surname"></label>
            <div class="col111">
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check">
            <label class="btntext" asp-for="adress"></label>
            <div class="col111">
                <input asp-for="adress" class="form-control" />
                <span asp-validation-for="adress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check">
            <label class="btntext" asp-for="phone"></label>
            <div class="col111">
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-check">
            <label class="btntext" asp-for="email"></label>
            <div class="col111">
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
         <input class="btn btn-success" type="submit" value="Завершить заказ" />
    </form>
</div>