﻿@model HomeViewModel
<div class="row">
    <div class="col-md-12">
        <div class="blog-item blog-post-item">
            <div class="thumb">
                <img src="~/img/tiramisu.jpg" class="img-responsive" width="825" height="383" alt="">
                <div class="blog-contnet">
                    <p>
                        В рецепт классического Тирамису обязательно входят: сливочный сыр Маскарпоне (Mascarpone), куриные яйца, кофе эспрессо, сахар и бисквитное печенье Савоярди (Savoiardi), сверху десерт, как правило, посыпают какао-порошком.
                    </p>
                    <p>
                        Сейчас Тирамису очень популярен во всём мире, но родиной его является Италия. В переводе с итальянского Тирамису значит «Подними меня вверх» или «Вознеси меня» (tira — тяни, mi — меня, su — вверх). Это странное название трактуется по разному, например, что десерт настолько нежный и воздушный, что стоит лишь попробовать — оказываешься в облаках.
                    </p>
                    <p>
                        Часть историков полагает, что тирамису создан в XVII веке в честь великого герцога Козимо III Медичи, но документальных подтверждений этому нет]. Настоящая история этого кондитерского изделия начинается в 1960-х либо в 1970-х годах, что позволяет считать его относительно современным изобретением
                    </p>
                    <p>
                        Письменное упоминание зафиксировано в статье Джузеппе ди Клементе (Giuseppe di Clemente) и датировано 1971 годом. В 1981 году его тёзка Джузеппе Маффиоли (Giuseppe Maffioli) в ежеквартальном журнале «Vin Veneto» писал, что тирамису создал кондитер Роберто Лингуанотто (Roberto Linguanotto) в конце 1960-х годов, «чуть более десятилетия назад», в ресторане «Alle Beccherie» (город Тревизо). Маффиоли подчеркнул, что своим названием тирамису (итал. tira mi sù — буквально «тяни меня вверх», в переносном смысле «подбодри меня») обязан тонизирующим и питательным свойствам его ингредиентов, но никак не свойствам афродизиака.
                    </p>
                    <p>
                        Рецепт также встречается в книге «I dolci del Veneto» (1983 год), затем в более поздних текстах, таких как «Cucina e tradizioni del Veneto», где пишут, что тирамису был создан в послевоенное время в ресторане «Alle Beccherie» шеф-поваром, имевшим опыт работы в Центральной Европе.
                    </p>
                    <p>
                        Наряду с вышеназванными письменными свидетельствами есть легенды, по одной из которых аналогичный десерт был впервые приготовлен в Сиене (Тоскана) специально для Великого герцога Тосканы Козимо III Медичи, однако назывался он «Zuppa del duca».
                    </p>
                    <p>
                        Также есть версии, приписывающие авторство ресторанам «El Toulà» и «Al Fogher». 8 октября 2006 года газета Baltimore Sun опубликовала статью, в которой утверждается, что поставщиком десертов для ресторана «Beccherie» был Карминантонио Яннаконе (Carminantonio Iannaccone), живущий в настоящее время в Балтиморе, штат Мэриленд, США, и что тирамису изобрёл именно он.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 mb-2">
    @*{
            foreach (Desert desert in Model.favDeserts)
            {
                @Html.Partial("AllDeserts", desert);
            }
        }*@
</div>
<div>
    <div class="recent-item">
        <div class="recent-post">
            <img src="img/11.jpg" class="img-responsive" width="255" height="120" alt="">
            <a href="https://zira.uz/ru/2018/09/10/na-kogo-podpisatsya-v-instagram-26/" target="_blank">
                <div class="recent-hover"></div>
            </a>
        </div>
        <div class="recent-post">
            <img src="img/22.jpg" class="img-responsive" width="255" height="120" alt="">
            <a href="https://zira.uz/ru/2018/09/10/na-kogo-podpisatsya-v-instagram-26/" target="_blank">
                <div class="recent-hover"></div>
            </a>
        </div>
        <div class="recent-post">
            <img src="img/33.jpg" class="img-responsive" width="255" height="120" alt="">
            <a href="https://zira.uz/ru/2018/09/10/na-kogo-podpisatsya-v-instagram-26/" target="_blank">
                <div class="recent-hover"></div>
            </a>
        </div>
    </div>
</div>
