@import url(animate.css) screen;
@import url(prettyPhoto.css) screen;
@import url(font-awesome.css) screen;
@import url(bootstrap.css) screen;
@import url(bootsnav.css) screen;
@import url(owl.theme.css) screen;
@import url(owl.carousel.css) screen;
@import url(vojon-font.css) screen;
@import url(../inc/switcher/css/switcher.css) screen;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,600italic,700,800,400italic);
@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i,900,900i';
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);


* { margin: 0;padding: 0px;}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    color: #656565;
    padding: 0;
    margin: 0;
    background: black;
    background-attachment: fixed !important;
}
html {
    overflow-x: hidden;
    overflow-y: auto;
}
html,
body {
    height: 100%;
}
div.body {
    height: 100%;
    width: 100%;
}
.hidden {
    display: none;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #969696;
}

::-webkit-input-placeholder {
    color: #B0B0B0 !important;
}
:-moz-placeholder {
    color: #B0B0B0 !important;
}
::-moz-placeholder {
    color: #B0B0B0 !important;
}
:-ms-input-placeholder {
    color: #B0B0B0 !important;
}
#email::-webkit-input-placeholder {
    color: #373737 !important;
}
#email:-moz-placeholder {
    color: #373737 !important;
}
#email::-moz-placeholder {
    color: #373737 !important;
}
#email:-ms-input-placeholder {
    color: #373737 !important;
}
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: #c59b5f;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #01090C;
}
a img {
    border: none;
    vertical-align: bottom;
}
a.remove {
    display: block;
    height: 18px;
    width: 18px;
    margin: 10px;
    padding-left: 0 !important;
    text-indent: -9999px;
    background: #01090C;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px
}
h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0px;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    font-family: "Overlock", Helvetica, sans-serif;
    line-height: 140% !important;
    color: #01090c;
}
h1 {
    font-size: 22px;
    padding-left: 15px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
iframe,
embed,
object {
    max-width: 100%;
}
input,
textarea {
    color: #969696 !important
}
.left {
    float: left;
    display: block;
}
.center {
    margin: 0 auto;
    display: block;
}
.right {
    float: right;
    display: block;
}
.hidden {
    overflow: hidden;
    display: block;
}
.section{
    display: block;
    width: 100%;
    padding: 100px 0;
}

.section-title-box{
    text-align: center;
    margin-bottom: 40px;
}
.section-title-box h1{
    font-size: 80px;
    font-weight: 300;
    font-family: 'Great Vibes', Arial, sans-serif;
    color: #c59b5f;
    margin: 0;
    padding:0;
}
.title-divider{
    position: relative;
}
.title-divider{
    border-radius: 50%;
    margin: 0 auto !important;
    text-align: center;
    width: 30px;
    display: block;
    height:30px;
    position: relative;
    margin-bottom:50px;
    top:0px;
    padding: 5px;
}
.title-divider .fa{
    color: #c59b5f;
    font-size: 25px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    position: relative;
    top: -2px;
}

.title-divider:before{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    left: 40px;
    top: 15px;
}
.title-divider:after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    right: 40px;
    top: 15px;
}

.section-title-box p{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    line-height: 28px;
    margin: 25px 0;
    position: relative;
}
.boxed {
    width: 1200px !important;
    z-index: 99;
    position: relative;
}
.wrapper.boxed-2 {
    width: 1200px;
    margin: 30px auto;
}

html, body, .wrapper{
    height: 100% !important;
    display: block;
}
.wrap-nav-sidebar .switcher{
    display: none;
}
.navigation-section{
    position: relative;
    z-index: 99999;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: #000;
    border-radius: 0px;
}

.fixed{
    position: fixed;
    background: #000;
    top:0;
    border-bottom: none;
    padding: 0px;
    margin: 0 auto;
}
.boxed .fixed, .boxed-2 .fixed{
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar{
    height: auto;
    margin: 0;
}
.navbar-default{
    border: none;

}
.container-fluid{
    padding-right: 0px;
}
.navbar-header{

}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    margin: 15px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 0;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.navbar-toggle .icon-bar:before{
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    height: 6px;
    width: 6px;
    background: #888;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.navbar-toggle .icon-bar:after{
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    height: 6px;
    width: 6px;
    background: #888;
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.mbl-menu .navbar-toggle .icon-bar:nth-child(2), .mbl-menu .navbar-toggle .icon-bar:nth-child(4){
    opacity: 0;
}
.mbl-menu .navbar-toggle .icon-bar{
    height: 1px;
    width: 30px;
}
.mbl-menu .navbar-toggle .icon-bar:before, .mbl-menu .navbar-toggle .icon-bar:after{
    width: 100%;
    height: 1px;
}
.mbl-menu .navbar-toggle .icon-bar{
    background: transparent;
}

.mbl-menu .navbar-toggle .icon-bar:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0;
}

.mbl-menu .navbar-toggle .icon-bar:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 0;
}
body .navbar-default .navbar-brand{
    margin: 0;
    padding: 0;
    outline: none;
    display: inline-block;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Great Vibes', Arial, sans-serif;
    color: #c59b5f;
    height: auto;
    margin-top: 60px;
     -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    z-index: 99;
    margin-left: 0 !important;
}
.navigation-section.fixed .navbar-brand {
    font-size: 45px;
    margin-top: 25px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.nav {
    background: url(..images/menu_nav.jpeg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
ul.nav:before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: #000;
    opacity: 0.7
}
nav.bootsnav.brand-center ul.nav{
    position: relative;
}

nav.bootsnav.brand-center ul.nav.navbar-right{
    position: relative;
}

nav.bootsnav.brand-center ul.nav.navbar-right:before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    content: "";
    background: #000;
    opacity: 0.7
}
.nav li.active{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav li a{
    background: #000;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff !important;
    outline: none;
    font-weight: 700;
    position: relative;
    padding: 70px 30px;
    margin:0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    background: transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-left: 50px;
    padding-right: 50px;
     color: #c59b5f;
    outline: none;
}

.navigation-section.fixed .nav li a{
    padding: 30px;
}


.navbar-default .navbar-nav > .active > a:before, .navbar-default .navbar-nav > li > a:hover:before{
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    background: #c59b5f;
    bottom: 0px;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0;
}

.nav li.active {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
}
.navbar-default.navbar-full .navbar-brand{
    margin-top: 10px;
}

.navbar-default.navbar-full.fixed .navbar-brand{
    margin-top: 15px;
}
.nav-full{
    position: relative;
    background: #000;
}
nav.bootsnav.navbar-full .navbar-collapse .wrap-full-menu{
    background: transparent
}

li.close-full-menu {
    position: absolute;
    top: 10px;
    right: 30px;
}
li.close-full-menu a:hover:before{
    display: none;
    opacity: 0;
}

nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a{
    font-size: 18px;
    padding: 15px;
    display: block;
    background-color: #000
}
nav.bootsnav.navbar-full .navbar-collapse ul.nav > li.active > a{
    background-color: transparent;
}

nav.bootsnav.navbar-full .navbar-collapse ul.nav a:hover, nav.bootsnav.navbar-full .navbar-collapse ul.nav a:focus, nav.bootsnav.navbar-full .navbar-collapse ul.nav a{
    display: block;
}
.brand-center .col-half.right ul.nav:before{
    opacity: 0;
}
nav.bootsnav.navbar-sidebar ul.nav{
    padding: 0 !important;
    margin: 40px 0 !important;
}
nav.bootsnav.navbar-sidebar .scroller{
    background: #000;
}
.navbar-default.navbar-sidebar .navbar-brand{
    margin-top: 20px;
}
body.wrap-nav-sidebar.right-sidebar .wrapper{
    padding-left: 0;
    padding-right: 260px;
}
body.wrap-nav-sidebar.right-sidebar nav.bootsnav.navbar-sidebar {
    position: fixed;
    width: 260px;
    overflow: hidden;
    left: 0;
    padding: 0 0 0 0 !important;
    background: #fff;
    border-left: 1px solid #eee;
    right: 0;
    left: inherit;
}
.navigation-section.fixed.navbar-sidebar .nav li a:hover{
    padding-left: 50px;
    padding-right: 50px;
}
.navigation-section.navbar-sidebar .nav li.active a{
    padding-left: 50px !important;
    padding-right: 50px;
}
nav.bootsnav.navbar-brand-top .navbar-header .navbar-brand{
    margin: 30px 0;
}
.nav-transparent{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.slider-section{
    position: relative;
    overflow: hidden;
    height: calc(100% - 160px);
    display: block;
}
.navbar-full + .slider-section{
    height: calc(100% - 80px);
}
.navbar-sidebar + .slider-section{
    height: calc(100% - 1px);
}
.navbar-brand-top + .slider-section{
    height: calc(100% - 240px);
}
.boxed-2 .slider-section{
    height: calc(100% - 190px);
}

#home-slider, .owl-carousel, .owl-wrapper-outer, .owl-wrapper, .owl-item, .item{
    height: 100%;
    display: block;
    position: relative;
    width: 100%;
}
#home-slider .owl-item{
    padding: 0;
}

.slider-items{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
.static-img > .owl-carousel .item .slider-items{
    background-attachment: fixed !important;
}

.slider-items:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
}
.slide-item{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.slider-item{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
}

.slider-item h2{
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 55px ;
    display: block;
}
.slider-item p{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 30px ;
    margin-top: 20px;
    position: relative;
}
.slider-item a {
    border: 2px solid #fff;
    outline: none;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 5px 30px;
}

.slider-item a:hover{
    border: 2px solid #c59b5f;
    background: #c59b5f
}
.slider-divider{
    background: #fff;
    border-radius: 50%;
    margin: 0 auto !important;
    text-align: center;
    width: 8px;
    display: block;
    height:8px;
    position: relative;
    margin-bottom:50px;
    top:8px;
}
.slider-divider:before{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    left: 14px;
    top: 3px;
}
.slider-divider:after{
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background: #fff;
    position: absolute;
    z-index: 9999;
    right: 16px;
    top: 3px;
}

.vojon-btn{
    color: #fff;
    border: 1px solid #fff;
    padding: 0px 20px;
    display: inline-block;
    margin-top: 15px;
    outline: none;
    line-height: 35px;
    font-weight: 300;
    font-size: 13px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: relative;
}
.vojon-btn:hover{
    background: #c59b5f;
    border: 1px solid #c59b5f ;
    outline: none
}
.home-navigation{
    position: absolute;
    width: 100%;
    display: block;
    z-index: 99;
    background: #ccc;
    top: 39%;
}
.home-navigation a{
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    width: 50px;
    position: absolute;
    border: 1px solid #c59b5f ;
    padding: 21px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 0;
}
.home-navigation a:hover{
    color: #fff;
}

.home-navigation a .fa{
    font-size: 50px;
}
.home-navigation a.home-next{
    left: -100%;
}
.home-navigation a.home-prev{
    right: -100%;
}
.slider-section:hover .home-navigation a.home-next{
    left: 15px
}
.slider-section:hover .home-navigation a.home-prev{
    right: 15px
}
.slider-section .owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: #fff;
    display: block;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 130px;
    padding: 4px 0;
}
.owl-theme .owl-controls .owl-page.active span{
    background:#c59b5f
}
.owl-theme .owl-controls .owl-page span{
    background:#000;
    opacity: 1;
}
.owl-buttons {
    display: none;
}

/* video */
.video-item {
    height: 100%;
    position: absolute;
    width: 100%;
}
video {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('../images/poster.png') no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    -moz-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
}

#polina {
    font-weight: bold;
    color: white;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.about-section{
    background: url(../images/dishes_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:0;
    position: relative;
}
.about-section:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000;
    opacity: 0.2;
}

.about-content{
    text-align: left;
    padding-top: 20%;
}
.about-content h3{
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.about-content p{
    font-size: 14px;
    color: #fff;
    line-height: 28px;
    display: block;
    font-weight: 300;
}
.about-content a {
    border: 2px solid #c59b5f;
    outline: none;
    font-weight: 900;
    background: #c59b5f;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    margin-right: 15px;
    padding: 5px 30px;
}
.about-content a:hover{
    background: transparent;
    border: 2px solid #fff;
}

.about-content a:last-child{
    background: transparent;
    border: 2px solid #fff;
}
.about-content a:last-child:hover{
    border: 2px solid #c59b5f;
    background: #c59b5f
}

.about-thumb{
    text-align: right;
}
.about-thumb img{
    height: auto;
    display: inline-block;
    text-align: right;
}
.service-section{
    display: block;
    background: #000
}
.best-service{
    display: block;
    margin-bottom: 40px;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.best-service i{
    font-size: 50px;
    color: #fff;
}
.best-service h4{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-transform: uppercase;
}
.best-service p{
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    margin-top: 5px;
}
.best-service:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.best-service:hover i, .best-service:hover h4{
    color: #c59b5f
}
.reservation-section{
    background: url(../images/reservation.jpg) repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
}
.reservation-section .form-group {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    margin-right: 30px;
    position: relative;
}
.reservation-section .form-group label{
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 1px
}

.reservation-section .form-group:nth-child(3){
    margin-right: 0px;
}

.reservation-section .form-group:nth-child(6){
    margin-right: 0px;
}

.form-control{
    background: transparent;
    border: 1px solid #B0B0B0;
    border-radius: 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.reservation-section .form-control:focus{
    background: transparent;
    border: 1px solid #c59b5f;
    box-shadow: none;
}

.reservation-section .message-group {
    width: 100% !important;
}
.reservation-section .col-sm-12{
    overflow: hidden;
}

.reservation-section .message-group textarea{
    width: 100% !important;
    background: transparent;
    border: 1px solid #B0B0B0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    padding: 12px;
    display: block;
    margin-bottom: 15px;
}

.reservation-section .message-group textarea:focus{
    width: 100% !important;
    border: 1px solid #c59b5f;
    box-shadow: none;
    outline: none;
}
.reservation-form button{
    background: #c59b5f;
    margin-top: 0px;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #c59b5f;
    padding: 5px;
}
.reservation-form{
    padding-left: 0px
}

.reservation-form .form-control{
    height: 45px;
    display: block;
    margin-bottom: 15px;
    padding-right: 35px;
}
.reservation-form .fa{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #c59b5f;
    font-size: 17px;
}
.menu-section{
    background: #000;
    background-image: url(../images/menu-lef-bg.png), url(../images/menu-right-bg.png);
    background-repeat: no-repeat;
    background-position:20px 118px, right 62px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu-section .section-title-box{
    margin-bottom: 30px;
}

.filter-nav{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.filter-nav li{
    background: #272627;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    padding: 15px 30px;
    outline: none;
    list-style: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}
.filter-nav li b {
    font-size: 18px;
    font-weight: 700;
    margin-top: 22px;
    display: block;
    position: absolute;
    background: #c59b5f;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: -62px;
    margin: 0 auto;
    text-align: center;
    padding: 9px;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.filter-nav li.active b{
    opacity: 1;
    top: -40px;
}

.filter-nav .active, .filter-nav li:hover{
    background: #c59b5f;
    color: #fff
}

.menu-items{
    position: relative;
    margin-bottom: 0px;
    padding: 0 !important;
}
.menu-items a{
    position: relative;
    display: block;
    overflow: hidden;
     cursor: url(../images/cursor.png), auto;
}
.menu-items img{
    width: 100%;
    height: auto;
}

.menu-item{
    position: absolute;
    width: 100%;
    height: auto;
    background: #fff;
  /*  border: 1px solid #c59b5f;  */
    bottom: -20%;
    text-align: center;
    left: 0;
    right: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}
.menu-items:hover .menu-item{
    bottom: 0%;
}

.menu-item h2 {
    font-size: 18px;
    color: #262526;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    padding: 0;
    padding: 6px 14px;
    display: block;
    text-align: left;
}
.menu-item h3 {
    font-size: 19px;
    color: #fff;
    font-weight: 700;
    margin: 0 auto;
    padding: 6px;
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #c59b5f;
}

/* load more button */
.load-more-btn{
    text-align: center;
    margin-top: 20px;
}

.load-more-btn p{
    display: inline-block;
    text-align: center;
}

.load-more-btn a{
    border: 2px solid #c59b5f;
    outline: none;
    font-weight: 900;
    background: #c59b5f;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    display: block;
    padding: 10px 30px;
    margin-top: 25px;
}
.load-more-btn p i{
    color: #fff;
    font-size: 12px;
}
.team-section{
    background: #000;
    display: block;
}
.about-profile{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.about-profile img{
    width: 100%;
    height: auto;
}

.about-profile a{
    height: 100%;
    position: relative;
    z-index: 999999;
    text-align: center;
    display: inline-block;
}
.about-profile a img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.profile-details{
    background: #c59b5f;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 10px 0;

}

.about-social {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    width: 100%;
    left: 0;
    background: #c59b5f;
    top: 77%;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    -webkit-transform: scale(0.3,0.3);
    -moz-transform: scale(0.3,0.3);
    -o-transform: scale(0.3,0.3);
    transform: scale(0.3,0.3);
}
.about-profile:hover .about-social{
    top: -77%;
    z-index: 99;
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    transform: scale(1.3,1.3);
    padding: 5px;
    opacity: 1;
}

.about-profile .about-social a i{
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
}
.about-profile .about-social a:hover i{
    background: #fff;
    color: #c59b5f;
}

.about-profile h2{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 0;
    margin: 0;
}

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    border: 1px solid  transparent;
    border-radius: 50%;
    margin: 5px;
}
.owl-theme .owl-controls .owl-page.active{
    display: inline-block;
    border: 1px solid #c59b5f;
    border-radius: 50%;
    margin: 5px;
}
.owl-theme .owl-controls .owl-page span{
    margin: 5px !important;
}

.about-profile span{
    font-size: 14px;
    font-weight:300;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.testimonial-box{
    display: block;
    text-align: center;
    background: url(../images/testimonial-bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.testimonial-box:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    background: #000;
    opacity: 0.7;
}

#testimonial-carousel .item{
    display: inline-block;
    padding: 35px 0 30px;
    margin: 0 auto;
    float: none !important;
    max-width: 630px;
    padding-top: 0;
}
.testimonial-caption {
    padding: 0 15px;
}

.testimonial-caption h4{
    font-size: 22px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 0;
    margin-top: 19px;
    padding: 0;
}
.owl-item{
    margin: 0 auto
}

.testimonial-caption h5{
    font-size: 17px;
    font-weight: 300;
    color: #c59b5f;
    margin: 0 auto;
}
.testimonial-caption p{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    line-height: 28px;
    margin: 10px 0 50px;
}
#testimonial-carousel .owl-controls{
    margin:-4.5% auto 0px;
    position: relative;
    z-index: 999;
}
#testimonial-carousel .owl-controls .owl-page span{
    background: #fff;
    position: relative;
    z-index: 99999
}

#testimonial-carousel .owl-controls .active span{
    background: #c59b5f;
}
.project-counter-section {
    display: block;
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
}

.project-counter-section:before{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
}

.project-counter-section .section-title, .project-counter-section .section-title p{
    text-align: center;
}

.col-lg-offset-3 > p {
    margin-bottom: 60px;
    margin-top: 20px;
}

.col-sm-offset-1 > h3{
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin-top: 10px;
}

.counter-area {
    text-align: center;
    margin-top: 50px;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 30px 0;
    padding-bottom: 0;
}

.counter-area i{
    font-size: 48px;
    text-align: center;
    color: #FF4C83;
}

.counter-area > h3{
    text-align: center;
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
}

.counter-area > span{
    text-align: center;
    margin: 0;
    font-size: 80px;
    color: #fff;
    display: block;
    font-weight: 700;
    margin: 15px 0;
}

.counter {
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #000;
    font-weight: 700;
    background: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 99;
}

.counter-area:hover .counter:after{
    background: #FF4C83;
    color: #fff;
    margin: 15px;
    opacity: 1;
}

.counter-area:hover .counter{
    color: #fff;
}
.recipe-section{
    display: block;
    text-align: center;
    background: #000
}
.recipe{
    overflow: hidden;
    width: 100%;
}
.recipe .item{
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.blog-item{
    overflow: hidden;
    display: block;
    background: #fff;
    position: relative;
    padding: 0;
}

.blog-item img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}
.recipe .item:hover img{
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
}
.blog-item p {
    position: absolute;
    height: auto;
    width: auto;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: #c59b5f;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 1;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 10px 15px;
}
.blog-item a {
    position: absolute;
    height: auto;
    width: auto;
    text-align: center;
    color: #fff;
    background: #c59b5f;
    font-size: 14px;
    opacity: 0;
    bottom: -100%;
    right: -100%;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}
.blog-item:hover a{
    opacity: 1;
    bottom: 0;
    right: 0;
}
.title-box{
    float: left;
    background: #fff;
    display: block;
    text-align: center;
    height: 100%;
    position: absolute;
    right: 0;
}
.blog-title {
    display: table;
    width: 100%;
    height: 100%;
}
.title-cell {
    display: table-cell;
    vertical-align: middle;
}
.title-box h2{
    border: 1px;
    border-color: #ccc;
    border-style: solid;
    border-right:none;
    border-left: none;
    padding: 20px 0;
    font-size: 15px;
    margin: 0;
}


.blog-item:hover .title-box h2{
    color: #c59b5f;
    border-color:#c59b5f;
}


.recipe-section .customNavigation{
    float: right;
    margin-top: 30px;
    display: block;
    width: 100%;
    text-align: center;
    display: none;
}
.recipe-section .customNavigation a{
    width: 41px;
    height: 41px;
    background: #000;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c59b5f;
    margin: 0 5px;
}

.recipe-section .customNavigation a:hover{
    background: #c59b5f;
}

.recipe-section .customNavigation a i{
    font-size: 30px;
    padding: 4px
}

#recipe-carusel .owl-controls{
    display: none !important;
}

.recipe-lightbox{
    display: none;
}

.recipe-item{
    padding: 10px;
    position: relative;
    z-index: 9999999999;
    padding-top: 15px;
}
.recipe-item img{
    width:100%;
    height: 250px;
    display: block;
    border-radius: 0px;
}
.recipe-item h4{
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;

}
.recipe-item span{
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding: 0;
}
.recipe-item p{
    padding: 0;
    overflow: scroll;
    max-height: 400px;
}
.subscribe-section{
    text-align: center;
    background: #272627;
}

.subscribe-form{
    text-align: center;
    display: block;
    float: none;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.form-area{
    position: relative;
    display: block;
    overflow: hidden;
}

.subscribe-form .form-group{
    background: #fff;
    min-width: 100%;
    display: block;
    float: left;
    margin:0;
}

.subscribe-form .input-group{
    background: #fff;
    width: 100%;
}


.subscribe-form .form-control{
    background: #fff !important;
    color: #969696 !important;
    height: 50px;
    font-size: 14px;
    padding: 10px 20px;;
    text-align: left;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.subscribe-form .form-control:focus, .subscribe-form .form-control:hover{
    box-shadow: none;
}

.subscribe-form button, .subscribe-form button:hover, .subscribe-form button:active, .subscribe-form button:focus{
    background: #c59b5f;
    border-radius: 0px;
    font-size: 14px;
    color: #fff;
    padding: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 999;
    right: 0;
    margin: 0 auto;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
}
.subscribe-form button:hover{
    background: #c59b5f;
    border: none;
}
.subscribe-form:hover button{
    padding: 10px 15px;
    top: 5px;
    right: 5px;
    bottom: 5px;
}
.subscribe-message {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width:100%;
    margin:0 auto;
    border-radius:4px;
    -webkit-transform:scale(0);
    transform:scale(0);
    opacity:0;
    max-height:0;
    padding:0;
    border-width:0;
    -webkit-transition:0.5s;
    transition:0.5s;
    color: green;
}
.subscribe-message a {
    font-weight:600;
}
.subscribe-message.valid,
.subscribe-message.error {
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1;
    padding:14px 0;
    color: red;
    margin-bottom: 15px;
}
.subscribe-message.valid{
    color: green !important;
}
.contact-section{
    display: block;
    background: url(../images/contact-bg.jpg) repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.contact-section:before{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    content: "";
    opacity: 0.8;
}

.address-box{}
.contact-items{
    text-align: center;
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 0;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}
.contact-items:hover{
    background: rgba(255, 255, 255, 0.2);
     -webkit-transform: scale(1.05,1.05);
     -moz-transform: scale(1.05,1.05);
     -o-transform: scale(1.05,1.05);
     transform: scale(1.05,1.05);
}
.contact-items{}
.contact-items i{
    font-size: 25px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 36px;
    color: #fff;
}
.contact-items:hover i{
    background: #c59b5f;
    border: 2px solid #c59b5f;
    color: #fff
}

.address-box span{
    font-size: 14px;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    display: block;
}
.contact-box .form-control{
    height: 45px !important;
    margin-bottom: 15px;
}
.contact-box .form-control:focus{
    border: 1px solid #c59b5f;
    box-shadow: none;
    background: rgba(255, 255, 255, 0.2);
}

.contact-box textarea{
    width: 100%;
    background:  transparent;
    min-height: 142px;
    border: 1px solid #B0B0B0;
    padding: 10px;
    color: #fff;
}

.message-btn{
    background: #c59b5f;
    margin-top: 0px;
    border-radius: 0px;
    margin: 0 auto;
    display: block;
    padding: 7px 35px;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-color: #c59b5f
}

#message .error_message, #alert .error_message{
    display: block;
    width: 100%;
    color: red;
    padding: 5px 0;
}

#message fieldset, #alert fieldset{
    display: block;
    width: 100%;
}

#message fieldset h1, #alert fieldset h1{
    color: #009E32;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


.map-section{
    overflow: hidden;
    display: block;
    width: 100%;
    position: relative;
}
#map{
    height: 400px;
    width: 100%;
    display: block;
}
.footer-section{
    background: #000;
    padding: 70px 0;
}
.social-item{
    width: 100%;
    display: block;
}
.footer-social-box{
}
.footer-social-box ul{
    text-align: center;
}
.footer-social-box ul li{
    list-style: none;
    display: inline-block;
}
.footer-social-box ul li a{
    text-align: center;
}
.footer-social-box ul li a .fa{
    width: 50px;
    height:50px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
}
.footer-social-box ul li a:hover .fa{
    color: #c59b5f;
    border: 2px solid #fff;
    background: #fff
}
.top-btn a {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background: #303030;
    border: 5px solid #000;
    padding-top: 26px;
}
.top-btn a i{
    color: #fff;
    font-size: 40px;
    line-height: 10px;
    display: block;
}
.top-btn a i:first-child{
    font-size: 45px;
}

.top-btn a:hover{
    background: #c59b5f;
}

.footer-section .copyright{
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.footer-section .copyright p{
    margin-bottom: 0 !important ;
    margin-top: 5px !important ;
    font-size: 15px;
}

.copyright span{
    color: #c59b5f;
}

.copyright a{
    color: #c59b5f;
}
.section.blog-title-section {
    display: block;
    width: 100%;
    background: url(../images/title-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 40px 0;
}
.section.blog-title-section:before{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(49, 56, 64, 0.71)
}

.title-contnet {
}
.title-contnet h2{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ol.breadcrumb {
    display: block;
    background: transparent;
    position: relative;
    margin-bottom: 0;
}
ol.breadcrumb li.active{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
}
ol.breadcrumb li a{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    color: #fff !important;
    margin: 0;
}

.active {
}

.blog-container {
    display: block;
    padding: 60px 0;
    background: #fff;
}

.col-lg-4 {
    display: inline-block;
    width: 40%;
    align-items: flex-end;
    margin: 13px 11px 20px;
    padding-right: 13px;
}
}
.blog-container .title-box{
    background: rgba(0, 0, 0, 0.7);
    height: auto;
    bottom: 0;
    padding: 8px;

}
.blog-container .title-box h2{
    color: #fff;
    text-align: left;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans';
}

.blog-items {
    display: block;
    margin-bottom: 40px;
    overflow: hidden;
}
.blog-items figure.item {
    display: block;
    width: 100%;
    overflow: hidden;
}

.thumb img{
    width: 100%;
    height: auto;
}

.img-responsive {
}

.blog-meta {
    position: relative;
    display: block;
    background: #c59b5f;
    margin: 10px 0;
}
.blog-meta p{
    margin: 0;
    color: #fff;
    padding: 5px 10px;
}

.blog-meta h2{
    position: absolute;
    top: -87px;
    left: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    width: 100px;
}
.blog-meta span{
    display: inline-block;
    width: 100px;
    background: #c59b5f;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.blog-meta p{
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 14px;
    padding-left: 15px;
    color: #fff
}

.blog-contnet {
}
.blog-contnet h3{
    color: #1c1c1c;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.blog-contnet p{
    margin-top: 0px;
    display: block;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Open Sans';
}
.blog-contnet a{
    height: auto;
    width: auto;
    text-align: center;
    color: #fff;
    background: #c59b5f;
    font-size: 14px;
    bottom: -100%;
    right: -100%;
    display: inline-block;
    padding: 10px 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav ul.pagination {
    margin: 0;
    margin-bottom: 50px;
}
nav ul.pagination  li{}
nav ul.pagination  li a{
    border-radius: 0px !important;
    color: #1c1c1c;
    margin: 3px;
    transition: all 0.5s
}
nav ul.pagination li.active a{
    background: #c59b5f ;
    margin: 3px;
    border: 1px solid #c59b5f ;
    border-radius: 50% !important
}
nav ul.pagination  li a:hover{
    background: #c59b5f;
    border: 1px solid #c59b5f ;
    color: #fff;
    border-radius: 50% !important;
}
.col-md-3.sidebar {
}

.sidebar .widget {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.tagcloud{
    display: block;
    overflow: hidden;
    margin-top: 15px;
}

.tagcloud a{
    border: 1px solid #373737;
    padding: 2px 5px;
    color: #373737;
    display: inline-block;
    float: left;
}
.tagcloud a:hover{
    background:#c59b5f;
    color: #fff;
    border-color: #c59b5f;
}

.search {
    width: 100%;
    display: block;
}
.input-group {
    display: block;
    display: block;
}

.search .form-control {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #333740;
    color: #333740;
}
.search .form-control:hover, .search .form-control:active, .search .form-control:focus{
    border: 1px solid #c59b5f;
}

.input-group-btn {
}

.btn.btn-default {
}

.sidebar .headline {
    font-size: 24px;
    font-weight: 700;
    color: #1e1e1e;
    display: block;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.sidebar .headline::first-letter {
    font-size: 150%;
    color: #c59b5f;
}
.sidebar .widget ul{}
.sidebar .widget ul li{
    list-style: none;
    display: block;
    padding: 12px 0;
    position: relative;
}
.sidebar .widget ul li a{
    color: #c59b5f;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Open Sans';
    color: #1e1e1e;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}
.sidebar .widget ul li:before{
    content: "";
    background: #dad8d4;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -6px;
}

.sidebar .widget ul li a:hover{
    color: #c59b5f;
}

.sidebar .widget ul li a b{
    margin-top: 5px;
    position: relative;
    top: 5px;
}
.sidebar .widget ul li a span{
    float: right;
    width: 30px;
    height: 30px;
    font-weight: 700;
    color: #fff;
    background:#c59b5f;
    text-align: center;
    padding: 5px 0;
}

.recent-item {
    position: relative;
}

.recent-post {
    position: relative;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.recent-post img{
    width: 100%;
    height: auto;
}

.recent-post a{
    position: absolute;
    top: 0;
    display: block;
    background:#c59b5f;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    color: #fff;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(0.1,0.1);
    -moz-transform:scale(0.1,0.1);
    -o-transform:scale(0.1,0.1);
    transform:scale(0.1,0.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    cursor:  url(../images/white-plus.png), auto;
}

.recent-post:hover a{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.recent-hover {}
.recent-hover h5{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 14%;
}
.recent-hover p{
    display: block;
    margin-top: 5px;
}
.recent-hover p i{
    color: #c59b5f;
}
.widget-item.row {
    margin-left: -5px;
    margin-right: -5px;
}
.widget-items a{
    display: inline-block;
    width: 33.33%;
    float: left;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.widget-items a:before{
    content: "";
    position: absolute;
    top: 0;
    display: block;
    background:#c59b5f;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-align: center;
    color: #fff;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(0.1,0.1);
    -moz-transform:scale(0.1,0.1);
    -o-transform:scale(0.1,0.1);
    transform:scale(0.1,0.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    cursor:  url(../images/white-plus.png), auto;
}
.widget-items a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    opacity: 1;
}

.widget-items a img{
    width: 100%;
    height: auto;
}
@media (max-width: 768px){
    .blog-meta p{
        padding-left: 0px;
        margin-top: 5px;
    }
    .blog-contnet h3{
        margin-top: 0px;
    }
    .section.blog-title-section{
        padding: 25px 0;
    }
    .blog-comment {
        margin-bottom: 50px;
    }
    .col-md-3.sidebar {
        margin-bottom: 50px;
    }
}
.blog-post-item .blog-meta{
    display: block;
    margin-bottom: 15px;
}

.blog-post-item .blog-meta h2 {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 20px;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    display: block;
    margin: 0;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}
.blog-post-item .blog-meta span{
    display: block;
    width: 100%;
}
.blog-post-item .thumb img{
    margin-bottom: 15px;
}

.blog-post-item h3{
    font-size: 20px;
    color: #1c1c1c;
    display: block;
    text-align: left;
    line-height: 34px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.blog-post-item .blog-meta p{
    padding-left: 0;
    background: #fff;
    text-transform: capitalize;
}
.blog-post-item .blog-meta{
    background: #fff;
}
.blog-post-item .blog-meta .date-box{
    padding: 0;
}

.blog-post-item .blog-meta p b,.blog-post-item p a{
    color: #c59b5f
}
.blog-post-item a{
    position: relative;
    opacity: 1;
    background: #fff;
    right: 0;
    padding: 0;
}
.blog-post-item .thumb a{
    background: transparent;
}

.blog-post-item p{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: #1c1c1c;
    position: relative;
}
.blog-post-item .blog-contnet p{
    position: relative;
    background: #fff;
    text-transform: capitalize;
    padding:0;
}

.blog-post-item .blog-contnet h3{
    font-size: 24px;
    font-weight: 300;
    color: #808080;
}
.blog-post-item .blog-contnet h2{
    font-size: 30px;
    font-weight: 300;
    color: #808080;
    text-transform: uppercase;
    margin-bottom: 0;
}

.author-profile{
    display: block;
    background: #c59b5f;
    overflow: hidden;
    padding: 15px 0;
}
.author-profile h4{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin: 0;
    padding: 0;
}
.author-profile i{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}
.author-profile p{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: block;
    margin-top: 5px;
}
.author-profile-pic img{
    display: block;
    border-radius: 5px;
    border: 10px solid #fff;
    width: 100%;
    height: auto;
}
.profile-social-media{}
.profile-social-media ul{
    margin:0;
    padding: 0;
    display: block;
}
.profile-social-media ul li{
    list-style: none;
    display: inline-block;
}
.profile-social-media ul li a{}
.profile-social-media ul li a i{
    font-style: normal;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    color: #c59b5f;
    padding: 8px;
    border-radius: 3px;
}

/* COMMENT */
.blog-comment{}
.blog-comment h3{
    border-bottom: 1px solid #c59b5f;
    padding: 0;
}
.blog-comment h3 span{
    display: inline-block;
    background:#c59b5f;
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.blog-comment .contact-form{}
.blog-comment .contact-form .form-control, .blog-comment .contact-form textarea.form-control{
    border: 1px solid #ccc;
    box-shadow: none;
}
.blog-comment .contact-form .form-control:focus{
     border: 1px solid #c59b5f
}

.blog-comment span.pori-btn{
    float: right;
    padding: 0;
}
.blog-comment .contact-form  input.submit-btn{
    color: #c59b5f !important;
    outline: none
}
.blog-comment .contact-form span:hover input.submit-btn{
    color: #fff !important;
    outline: none
}
.blog-comment .contact-form {
    margin-top: 15px;
    display: block;
}

.blog-comment .contact-form input.submit-btn {
    color: #fff !important;
    outline: none;
    padding: 15px 40px !important;
    display: block;
    background: #c59b5f;
    width: 100%;
    border: none;
    text-transform: uppercase;
}
.blog-comment .contact-form .row{
    margin-left: -7px;
    margin-right: -7px;
}
.blog-comment .contact-form .col-md-6, .blog-comment .contact-form .col-md-12{
    padding-left: 7px;
    padding-right: 7px;

}
.footer-social-media ul li a i{
    font-style: normal;
}
#preloader{
    width: 100%;
    height: 100%;
    -webkit-animation: preloader_6 5s infinite linear;
    -moz-animation: preloader_6 5s infinite linear;
    -o-animation: preloader_6 5s infinite linear;
    animation: preloader_6 5s infinite linear;
    background: #000;
    display: block;
    text-align: center;
    position: fixed;
    z-index: 999999;
    opacity: 0.99;
    top: 0;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.cssload-loader {
	width: 175px;
	height: 55px;
	line-height: 35px;
	text-align: center;
	position: absolute;
	left:0 ;
    right: 0;
    margin: 0 auto;
    top: 46%;
	font-family: 'Great Vibes', Arial, sans-serif;
	font-size:50px;
	color: #fff;
	letter-spacing: 0.2em;
}
.cssload-loader span{
    color:rgb(197,155,95);
}

.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: rgb(197,155,95);
	position: absolute;
	animation: cssload-load 2.17s infinite alternate ease-in-out;
		-o-animation: cssload-load 2.17s infinite alternate ease-in-out;
		-ms-animation: cssload-load 2.17s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 2.17s infinite alternate ease-in-out;
		-moz-animation: cssload-load 2.17s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}

@keyframes cssload-load {
	0% {
		left: 0;
		height: 21px;
		width: 10px;
	}
	50% {
		height: 6px;
		width: 28px;
	}
	100% {
		left: 164px;
		height: 21px;
		width: 10px;
	}
}

@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 21px;
		width: 10px;
	}
	50% {
		height: 6px;
		width: 28px;
	}
	100% {
		left: 164px;
		height: 21px;
		width: 10px;
	}
}

@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 21px;
		width: 10px;
	}
	50% {
		height: 6px;
		width: 28px;
	}
	100% {
		left: 164px;
		height: 21px;
		width: 10px;
	}
}

@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 21px;
		width: 10px;
	}
	50% {
		height: 6px;
		width: 28px;
	}
	100% {
		left: 164px;
		height: 21px;
		width: 10px;
	}
}

@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 21px;
		width: 10px;
	}
	50% {
		height: 6px;
		width: 28px;
	}
	100% {
		left: 164px;
		height: 21px;
		width: 10px;
	}
}
@media (max-width: 1200px) {
    body .navbar-default .navbar-brand{
        font-size: 60px;
        margin-top: 55px;
    }
    .nav li a{
        padding: 50px 20px
    }
    .navigation-section.fixed .nav li a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        padding-left: 30px;
        padding-right: 30px;
    }
    .counter-area > h3{
        font-size: 24px;
    }
    .slider-section {
        height: calc(100% - 120px);
    }

}
@media (max-width: 992px) {
    body .navbar-default .navbar-brand{
        font-size: 50px;
        margin-top: 40px;
    }
    .nav li a{
        padding: 40px 15px
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
        padding-left: 20px;
        padding-right: 20px;
    }
    .navigation-section.fixed .nav li a {
        padding: 30px 12px;
    }
    .team-section .col-sm-6:nth-child(-n+2) .about-profile{
        margin-bottom: 30px;
    }
    .slider-item h2{
        font-size: 60px;
    }
    .slider-item p{
        font-size: 14px;
        line-height: 28px;
    }
    .slider-section {
        height: calc(100% - 100px);
    }
    .counter-area > span{
        font-size: 60px;
        margin: 10px 0;
    }
    .counter-area > h3{
        font-size: 18px;
        margin-top: 20px;
    }
    /* NAV SIDEBAR */
    nav.bootsnav.navbar-sidebar ul.nav{
        margin: 0 !important;
    }

}
@media (max-width: 768px) {
    .section {
        padding: 60px 0;
    }
    .about-section{
        padding-bottom: 0;
    }
    .about-content {
        padding-top: 5%;
    }

    .navigation-section.fixed .navbar-brand{
        font-size: 35px;
        margin-top: 20px;
        padding-left: 15px;
    }
    body .navbar-default .navbar-brand {
        font-size: 40px;
        margin-top: 20px;
        padding-left: 15px;
    }
    .collapse.navbar-collapse{
        left: -250px;
        height: 100%;
        display: block;
        position: fixed;
        top: 60px;
        bottom: 0;
        width: 220px;
        background: #000;
        border: none;
        visibility: visible;
        padding: 0;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }
    .mbl-menu .collapse.navbar-collapse{
        left: 15px;
    }

    ul.nav{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }

    .nav li a{
        padding: 15px;
    }
    .navigation-section.fixed .nav li a{
        padding: 15px;
    }

    .slider-section {
        height: calc(100% - 60px);
    }
    .slider-item h2 {
        font-size: 30px;
    }
    .about-content{
        text-align: center;
    }
    .about-thumb {
        text-align: center;
        margin-top: 30px;
    }
    .reservation-form .form-control, .reservation-section .message-group textarea{
        margin-bottom: 0;
    }
    .menu-section {
        background: #000;
        background-image: url(../images/menu-right-bg.png);
        background-repeat: no-repeat;
        background-position:right 62px;
    }
    .filter-nav li{
        margin: 5px;
        display: block;
    }

    .menu-items{
        width: 100%;
    }
    .team-section .col-sm-6:nth-child(-n+3) .about-profile{
        margin-bottom: 30px;
    }
    /* NAV FULL */
    nav.bootsnav.navbar-full ul.nav{
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 1200px){
    .boxed, .wrapper.boxed-2{
        left: 0;
        right: 0;
        width: 100%;
        margin: 0 auto;
    }
}
.recent-item {
    width: 30%;
    justify-content: flex-end;
    padding-left: -2px;
    float: right;
    display: inline-block;
    margin-right: -32%;
    margin-top: -60%;
}
.row1 {
    justify-content: center;
    width: 53%;
}
.btn-success {
    font-weight: 700;
    color: #fff;
    background: black;
    border: black;
    margin-top: 5%;
}
    .row1 h3 {
        font-weight: 900;
        font-weight: bold;
        color: black;
        font-size: 400;
    }
.btntext {
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    font-weight: 700;
}