@font-face {
  font-family: 'vojon';
  src:  url('../fonts/vojon.eot?2gnpxk');
  src:  url('../fonts/vojon.eot?2gnpxk#iefix') format('embedded-opentype'),
    url('../fonts/vojon.ttf?2gnpxk') format('truetype'),
    url('../fonts/vojon.woff?2gnpxk') format('woff'),
    url('../fonts/vojon.svg?2gnpxk#vojon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.best-service i {
  font-family: 'vojon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vojon-beef-steak:before {
  content: "\e900";
}
.vojon-cheese-burger:before {
  content: "\e901";
}
.vojon-coffee-cup:before {
  content: "\e902";
}
.vojon-cut:before {
  content: "\e903";
}
.vojon-dinner:before {
  content: "\e904";
}
.vojon-food:before {
  content: "\e905";
}
.vojon-food-1:before {
  content: "\e906";
}
.vojon-ice-cream:before {
  content: "\e907";
}
.vojon-pizza:before {
  content: "\e908";
}
.vojon-salad:before {
  content: "\e909";
}
.vojon-steak:before {
  content: "\e90a";
}
.vojon-turkey:before {
  content: "\e90b";
}

